.icon-arrow {
  width: 0.69em;
  height: 1em;
  fill: #FFF;
}
.icon-check {
  width: 1.2em;
  height: 1em;
  fill: #E8663C;
}
.icon-cog {
  width: 1em;
  height: 1em;
  fill: #E8663C;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-user {
  width: 1.05em;
  height: 1em;
  fill: #E8663C;
}
